body
{
    position: inherit;
    min-width: 885px;
}

#DemoDetails 
{
    padding-bottom: 12px;
}

table 
{
    border-collapse: collapse;
    border-spacing: 0;
}

textarea, #otherSample, #othersource
{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    width: 100%;
    height: 25em;
    font-family: Consolas, Monospace;
    line-height: 1.2em;
    padding: 2px;
    border: solid 1px #aaa;
}

#markupsource
{
    height: 5em;
}

#otherSample 
{
    height: 280px;
}

input[type="radio"]
{
    position: relative;
    top: 2px;
    margin-right: 3px;
}

input[type="text"]
{
    border: solid 1px #aaa;
    padding: 1px;
}

label
{
    margin-right: 1em;
}

#htxtlink
{
    font-style: italic;
}

#controlwrapper
{
    width: 100%;
}

.labelCell, .dataCell
{
    vertical-align: top;
    padding-top: 0px;
    padding-bottom: 12px;
    white-space: nowrap;
}

.labelCell
{
    text-align: right;
    padding-left: 0;
    padding-right: 12px;
}

.dataCell
{
    width: 100%;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}

#stops tr:first-child { text-align: center;  }

#stops tr td:first-child { text-align: right; padding-right: 12px;}

#stops td
{
    padding: 0 4px 4px 0;
}

#posPanel td, #sizePanel td
{
    padding-right: 8px;
}

.positionThumbnail, .sizeThumbnail
{
    border: 2px white;
    width: 86px;
    height: 50px;
    text-align: center;
    font-size: 8.25pt;
    vertical-align: bottom;
}

.deletebutton { text-align: center; }
.deletebutton button { border: solid 1px #999; padding: 0px 3px 0px 3px; }

svg { overflow: visible; }
#dastart, #daend { cursor: crosshair; }

#debugsource
{
height: 5em;
}

#unsupportedBrowserMsg
{
	position: absolute;
	z-index: -100;
	font-size: 12pt;
	color: white;
}

#markuptype
{
	float: left; 
	padding-left: 20px;
}